/* for banner  */
.banners{
    height: 100vh;
    background: linear-gradient(
        20deg,
        rgb(3, 2, 2) 30%,
        rgb(4, 4, 39) 30%,
    );
    background-size: 5%;
    transition: all .5s;
}
.banners:hover{
    background-size: 5.5%;
    background-position: center;
}  