/* for nav  */
  /* for icon  */
    .mk-icon{
        font-size: 30px;
    }
  /* for icon  */

.mk-nav-a{
    font-size: 20px;
}
/* for nav  */

/* for banner  */
.mk-banner-p{
    font-size: 20px;
}
.banners{
    height: 100vh;
    background: linear-gradient(
        20deg,
        rgb(20, 38, 197) 20%,
        rgb(110, 159, 204) 10%
    );
    
    background-size: 5%;
    transition: 0.5s;
}
.banners:hover{
    background-size: 5.5%;
    background-position: center;
}   

/* for about me section  */
  /* for exp section  */
  .mk-exp-container{
      height: auto;
      background-color: red;
  }